h1 {
    font-size: clamp(3rem, 15vmin, 8rem);
    font-family: sans-serif;
    color: hsl(0 0% 98%);
  }
  p {
    font-size: 1.2em;
    line-height: 150%;
    text-align: center;
    color: MintCream;
    letter-spacing: .5px;
  }
.main{
    
        font-size: 40px;
        text-transform: uppercase;
        font-family: 'Gambetta', serif;
        letter-spacing: -3px;
        transition: 700ms ease;
        font-variation-settings: "wght" 311;
        margin-bottom: 0.8rem;
        color: rgb(10, 10, 9);
        outline: none;
        text-align: center;
      
}
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@-webkit-keyframes track-in-out {
    0% {
      letter-spacing: 1em;
      opacity: 0;
    }
    20% {
      letter-spacing: normal;
      opacity: 1;
    }
    80% {
      letter-spacing: normal;
      opacity: 1;
    }
    100% {
      letter-spacing: 1em;
      opacity: 0;
    }
  }
  
  .myText{
    font-size: 40px;
    margin-top: 50px;
    color: #009499;
    word-spacing: 10px;
    text-shadow: 2px 2px 5px grey;
    width: 100%;
    text-align: center;
    font-family: 'Monoton', cursive;
    animation-name: track-in-out;
    animation-duration: 7s;
    animation-iteration-count: infinite;
  }